


  <nav class="navbar navbar-expand-lg navbar-light navbar-default navbr-fixed-top ">
    <div class="container-fluid">
        <img height="80" width="auto" src="assets/assets/images/newlogobig.jpeg">
      <div class="col-md-3 col-lg-3 col-xl-11 mx-auto mt-2">
        <a class="Text1 navbar-brand text-dark" href="#">ລະບົບລົງທະບຽນລ່ວງຫນ້າສຳລັບການ<br>ຮັບວັກຊິນກັນພະຍາດໂຄວິດ</a>
      </div>
    </div>

    <button class="Toggle1 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="Toggle2 collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav my-2 my-lg-0 mx-2 mx-lg-5">
        <li class="nav-item">
            <a class="nav-link page-scroll" routerLink="./Register">ລົງທະບຽນ/Register</a>
          </li>
          <div style="width: 50px;"></div>
          <li class="nav-item">
            <a class="nav-link page-scroll" routerLink="./Search">ຄົ້ນຫາ/Search</a>
          </li>
    </ul>
</div>
    <!-- <div class="Button col-md-6 col-md-4 col-lg-4 col-xl-3 mx-auto mt-2 d-flex" id="navbarSupportedContent">
     <ul class="Button1 navbar-nav">
       <li class="nav-item">
        <a routerLink="./form" class="nav-link page-scroll">
          ລົງທະບຽນ
        </a>
       </li>
       <div style="width: 10px;"></div>
       <li class="nav-item">
        <a routerLink="./ticket" class="nav-link page-scroll">
          ຄົ້ນຫາຂໍ້ມູນ
        </a>
       </li>
     </ul>
    </div> -->

  </nav>

  <router-outlet> </router-outlet>
