
.size1{
  height: 150px;
  color: white;
  background-color: #317af1;
  margin-top: 100px;
}
.logo{
  width: 300px;
  position: relative;
  height: 60px;
  margin-left: 50px;
}
.title{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}










