.font-size a{
  font-size: 20px;

  text-decoration: wavy;
}
.size1{
  height: 150px;
  color: white;
  background-color: #317af1;
  margin-top: 100px;
}
.logo{
  width: 250px;
  position: relative;
  height: auto;
  margin: auto;
}
@media only screen and (max-width:800) {
  .logo{
    width: 200px;
    position: relative;
    height: auto;
    margin: auto;
  }
}
.logo1 a{
  justify-content: space-between;
}
.logo1 a{
  margin: auto;
  width: 30px;
  height: auto;
  justify-content: space-between;
  color: white;
}





