


<!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)"  >
  <input name="first" ngModel required #first="ngModel">
  <input name="last" ngModel>
  <input name="tel" ngModel>
  <button>Submit</button>
</form> -->

<!-- <p>First name value: {{ first.value }}</p>
<p>First name valid: {{ first.valid }}</p>
<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p> -->

<div class="page-wrapper p-t-45 p-b-50">
  <div class="wrapper wrapper--w790">
      <div class="card card-5 ">

        <div class="card-heading">
          <h2 class="title">ລະບົບລົງທະບຽນຮັບວັກຊິນ</h2>
          </div>

          <div class="card-body bg-light">
            <form class="position bg-light " method="POST" [formGroup]="registerForm"  (ngSubmit)="onSubmit()">

              <div class="position1">
                <!--เลือกเขัม-->
                <div class="vancine_dose">
                  <h3 class="title"><u>ຂໍ້ມູນພື້ນຖານຂອງຜູ້ສະໝັກ</u></h3>
                  <br>
                  <h4 class="sub-title">ນີ້ແມ່ນເຂັມທໍາອິດ ຫຼື ເຂັມທີສອງຂອງທ່ານ?</h4>


                    <input [ngClass]="{ 'is-invalid': submitted && f.vac.errors }" formControlName="vac" type="radio" value="1" name="vac"
                    (change)="changeFn($event)">
                  <label>&nbsp;ເຂັມທໍາອິດ (1)</label>
<br>
                    <input [ngClass]="{ 'is-invalid': submitted && f.vac.errors }" formControlName="vac" type="radio" value="2" name="vac"
                    (change)="changeFn($event)">

                  <label>&nbsp;ເຂັມທີສອງ (2)</label>
                  <div *ngIf="submitted && f.vac.errors" class="invalid-feedback">
                    <div *ngIf="f.vac.errors.required">Vaccine is required</div>
                </div>
<br>


<ng-container  *ngIf="radio1">
<br>
  <div class="form-group row">
    <label >ຕື່ມລະຫັດ ID ການສັກວັກຊີນຂອງທ່ານໃສ່ໃຫ້ຄືກັນກັບບັດສັກວັກຊີນຂອງທ່ານ.</label>
    <label >ຕົວຢ່າງ: H1234-A-12345</label>
    <div class="col-sm-10">

      <input  formControlName="vac_details" name="vac_details" type="test" class="form-control" placeholder="Covid ID card">
      <!-- <div *ngIf="submitted && f.vac_detais.errors" class="invalid-feedback">
        <div *ngIf="f.vac_detais.errors.required"></div>
        </div> -->
    </div>
  </div>
  <br>
                <div class="vacin_type_selet_box">

                  <label class="col-sm-2 col-form-label">ປະເພດຂອງວັກຊີນ</label>
                  <div class="vaccine_type">
                    <select [ngClass]="{ 'is-invalid': submitted && f.id_vaccine.errors }" formControlName="id_vaccine" name="id_vaccine" class="form-control" >
                      <option value="" disabled selected hidden>ເລືອກປະເພດວັກຊີນ</option>
                      <option [value]="vaccines.id_vaccine_type" *ngFor="let vaccines of vaccinesList">{{ vaccines.name }}</option>

                    </select>
                    <div *ngIf="submitted && f.id_vaccine.errors" class="invalid-feedback">
                      <div *ngIf="f.id_vaccine.errors.required">Vaccine  is required</div>
                      </div>
                  </div>
                </div>
</ng-container>






                </div>
                <!--เลือกเขัม-->



                <div class="location_to_get">
                  <label class="col-sm-2 col-form-label">ສະຖານທີ່ຈະໄປຮັບວັກຊິນ</label>
                  <div class="col-sm-10">
                    <select [ngClass]="{ 'is-invalid': submitted && f.location_to_get.errors }" class="form-control" name="location_to_get" formControlName="location_to_get">
                      <option value="" disabled selected hidden>ເລືອກສະຖານທີ່</option>
                      <option [value]="location.id_location" *ngFor="let location of locationList">{{ location.name_la }}</option>
                        </select>
                        <div *ngIf="submitted && f.location_to_get.errors" class="invalid-feedback">
                          <div *ngIf="f.location_to_get.errors.required">location is required</div>
                          </div>
                  </div>

                </div>
                <!--เลือกวัน-->

                <div class="date_to_get">
                  <label class="col-sm-2 col-form-label">ມື້ເດີນທາງໄປຮັບວັກຊິນ</label>
                  <!-- <h5 class="sub-title"></h5> -->

                  <input [ngClass]="{ 'is-invalid': submitted && f.date_to_get.errors }" class="form-control" type="date" name="date_to_get" formControlName="date_to_get" min="{{current_date}}" max="2021-06-31">
                  <div *ngIf="submitted && f.date_to_get.errors" class="invalid-feedback">
                    <div *ngIf="f.date_to_get.errors.required">date is required</div>
                    </div>

                </div>
                <label class="col-sm-2 col-form-label">ຄຳນຳໜ້າຊື່</label>
                <!-- <h4 class="sub-title">ແມ່ນຄົນລາວຫຼືບໍ່?</h4> -->

                <input [ngClass]="{ 'is-invalid': submitted && f.islao.errors }" formControlName="islao" type="radio" value="male" name="islao" >
                <label>&nbsp;ທ້າວ</label>
                &nbsp;&nbsp;
                  <input [ngClass]="{ 'is-invalid': submitted && f.islao.errors }" formControlName="islao" type="radio" value="female" name="islao" >
                <label>&nbsp;ນາງ</label>


                <div *ngIf="submitted && f.islao.errors" class="invalid-feedback">
                  <div *ngIf="f.islao.errors.required">Required</div>
                  </div>

                <!--ใส่ชื่นนามสะกุน-->
                <div class="date_to_get">
                  <label class="col-sm-2 col-form-label">ຊື່ຂອງຜູ້ສະໝັກ</label>
                  <div class="col-sm-10">

                    <input [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name" name="phone" type="test" class="form-control" placeholder="ໃສ່ຊື່">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">name is required</div>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-form-label">ນາມສະກຸນຂອງຜູ້ສະໝັກ</label>
                  <div class="col-sm-10">

                    <input [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" formControlName="lastName" name="phone" type="test" class="form-control" placeholder="ນາມສະກຸນ">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">lastName is required</div>
                      </div>
                  </div>
                </div>


                <div class="date_to_get">
                  <label class="col-sm-2 col-form-label">ວັນທີເດືອນປີເກີດ</label>
                  <!-- <h5 class="sub-title"></h5> -->

                  <input [ngClass]="{ 'is-invalid': submitted && f.date_to_get.errors }" class="form-control" type="date" name="date_to_get" formControlName="date_to_get" min="1900-01-01" max="2003-12-31">
                  <div *ngIf="submitted && f.date_to_get.errors" class="invalid-feedback">
                    <div *ngIf="f.date_to_get.errors.required">date is required</div>
                    </div>
                    <br>
                    <input class="col-sm-1 " type="text" [value]="40" disabled>
                </div>

    <!--เลือกเพด-->
    <!-- <div class="gender">
      <label class="col-sm-2 col-form-label">ກະລຸນາເລືອກເພດ</label> -->
      <!-- <h3 class="sub-title"></h3> -->
<!--
      <select  [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" name="gender" class="form-control" formControlName="gender">
        <option value="" disabled selected hidden>ເລືອກເພດ</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
        <div *ngIf="f.gender.errors.required">gender is required</div>
        </div> -->

    <!-- </div> -->


                <!--ใส่ชื่แขวง-->
                <div class="col-sm-12 col-xl-3 m-b-30">


                  <label class="col-sm-2 col-form-label">ແຂວງທີ່ຢູ່ປັດຈຸບັນ</label>
                  <!-- <h4 class="sub-title">ຢູ່ແຂວງໃດ</h4> -->

                  <select [ngClass]="{ 'is-invalid': submitted && f.province.errors }"  name="province" class="form-control" formControlName="province" [(ngModel)]="provinceID" (change)="onchange()">
                    <option value="" disable seleted hidden>ເລືອກແຂວງ</option>
                    <option [value]="province.id_province" *ngFor="let province of provinceList">{{ province.name_lao }}</option>

                  </select>
                </div>

                <!--ใส่แมือง-->
                <div class="col-sm-12 col-xl-3 m-b-30">
                  <label class="col-sm-2 col-form-label">ເມືອງທີ່ຢູ່ປັດຈຸບັນ</label>
                  <!-- <h4 class="sub-title">ຢູ່ເມືອງໃດ</h4> -->
                  <select [ngClass]="{ 'is-invalid': submitted && f.district.errors }" name="district" class="form-control" formControlName="district" >
                    <option value="" disabled selected hidden>ເລືອກເມືອງ</option>
                    <option [value]="district.id_district" *ngFor="let district of districtList">{{ district.name_lao }}</option>

                  </select>

                </div>
                <!--ใส่ชื่บ้าน-->
                <!-- <div class="col-sm-12 col-xl-3 m-b-30">
                  <h4 class="sub-title">ຢູ່ບ້ານໃດ</h4>
                  <select formControlName="village" name="village" class="form-control form-control-default">
                      <option value="" disabled selected hidden>ເລືອກບ້ານ</option>
                    <option value="opt1">ກະລຸນາເລືອກບ້ານ</option>
                    <option value="opt2">Type 2</option>
                    <option value="opt3">Type 3</option>
                    <option value="opt4">Type 4</option>
                    <option value="opt5">Type 5</option>
                    <option value="opt6">Type 6</option>
                    <option value="opt7">Type 7</option>
                    <option value="opt8">Type 8</option>
                  </select>
                </div> -->

                <div class="vancine_dose">
                  <h3 class="title"><u>ຂໍ້ມູນພື້ນຖານຂອງຜູ້ສະໝັກ</u></h3>
                  <br>
                  <h4 class="sub-title">ນີ້ແມ່ນເຂັມທໍາອິດ ຫຼື ເຂັມທີສອງຂອງທ່ານ?</h4>


                    <input [ngClass]="{ 'is-invalid': submitted && f.vac.errors }" formControlName="vac" type="radio" value="1" name="vac"
                    (change)="changeFn($event)">
                  <label>&nbsp;ເຂັມທໍາອິດ (1)</label>
<br>
                    <input [ngClass]="{ 'is-invalid': submitted && f.vac.errors }" formControlName="vac" type="radio" value="2" name="vac"
                    (change)="changeFn($event)">

                  <label>&nbsp;ເຂັມທີສອງ (2)</label>
                  <div *ngIf="submitted && f.vac.errors" class="invalid-feedback">
                    <div *ngIf="f.vac.errors.required">Vaccine is required</div>
                </div>
<br>


<ng-container  *ngIf="radio1">
<br>
  <div class="form-group row">
    <label >ຕື່ມລະຫັດ ID ການສັກວັກຊີນຂອງທ່ານໃສ່ໃຫ້ຄືກັນກັບບັດສັກວັກຊີນຂອງທ່ານ.</label>
    <label >ຕົວຢ່າງ: H1234-A-12345</label>
    <div class="col-sm-10">

      <input  formControlName="vac_details" name="vac_details" type="test" class="form-control" placeholder="Covid ID card">
      <!-- <div *ngIf="submitted && f.vac_detais.errors" class="invalid-feedback">
        <div *ngIf="f.vac_detais.errors.required"></div>
        </div> -->
    </div>
  </div>
  <br>
                <div class="vacin_type_selet_box">

                  <label class="col-sm-2 col-form-label">ປະເພດຂອງວັກຊີນ</label>
                  <div class="vaccine_type">
                    <select [ngClass]="{ 'is-invalid': submitted && f.id_vaccine.errors }" formControlName="id_vaccine" name="id_vaccine" class="form-control" >
                      <option value="" disabled selected hidden>ເລືອກປະເພດວັກຊີນ</option>
                      <option [value]="vaccines.id_vaccine_type" *ngFor="let vaccines of vaccinesList">{{ vaccines.name }}</option>

                    </select>
                    <div *ngIf="submitted && f.id_vaccine.errors" class="invalid-feedback">
                      <div *ngIf="f.id_vaccine.errors.required">Vaccine  is required</div>
                      </div>
                  </div>
                </div>
</ng-container>






                </div>


                <div class="col-sm-12 col-xl-3 m-b-30">
                  <label class="col-sm-2 col-form-label">ອາຊີບ</label>
                  <!-- <h5 class="sub-title">ອາຊີບ</h5> -->
                  <select [ngClass]="{ 'is-invalid': submitted && f.job.errors }" name="job" class="form-control" formControlName="job">
                    <option value="" disabled selected hidden>ເລືອກອາຊີບ</option>
                    <option [value]="job.job_id"  *ngFor="let job of jobList">{{ job.job_name }}</option>

                  </select>
                  <div *ngIf="submitted && f.job.errors" class="invalid-feedback">
                    <div *ngIf="f.job.errors.required">Required</div>
                    </div>
                </div>

                <!--islaos-->
                <div class="">
                  <label class="col-sm-2 col-form-label">ແມ່ນຄົນລາວ ຫຼື ບໍ່?</label>
                  <!-- <h4 class="sub-title">ແມ່ນຄົນລາວຫຼືບໍ່?</h4> -->

                  <input [ngClass]="{ 'is-invalid': submitted && f.islao.errors }" formControlName="islao" type="radio" value="y" name="islao" >
                  <label>&nbsp;ແມ່ນຄົນລາວ</label>
                  &nbsp;&nbsp;
                    <input [ngClass]="{ 'is-invalid': submitted && f.islao.errors }" formControlName="islao" type="radio" value="n" name="islao" >
                  <label>&nbsp;ບໍ່ແມ່ນຄົນລາວ</label>


                  <div *ngIf="submitted && f.islao.errors" class="invalid-feedback">
                    <div *ngIf="f.islao.errors.required">Required</div>
                    </div>
                    <div class="col-sm-12 col-xl-3 m-b-30">
                      <label class="col-sm-2 col-form-label">ສັນຊາດ</label>
                      <!-- <h5 class="sub-title">ອາຊີບ</h5> -->
                      <select [ngClass]="{ 'is-invalid': submitted && f.country.errors }" name="country" class="form-control" formControlName="country">
                        <option value="" disabled selected hidden>ເລືອກສັນຊາດ</option>
                        <option [value]="country.name" *ngFor="let country of countries">{{ country.name }}</option>

                      </select>
                      <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                        <div *ngIf="f.country.errors.required">Required</div>
                        </div>
                    </div>
                    <!-- <label>
                      <input formControlName="islao" value="y" type="radio" name="islao" checked="checked">
                      <i class="helper"></i>ແມ່ນຄົນລາວ
                    </label>


                  <label>
                    <input formControlName="islao" type="radio" value="n" name="islao">
                    <i class="helper"></i>ບໍ່ແມ່ນຄົນລາວ
                  </label> -->
                </div>
                <!--passport-->
                <div class="form-group">
                  <label class="col-sm-2 col-form-label">ເລກບັດປະຈຳຕົວ ຫຼື passport</label>
                  <div class="col-sm-10">
                    <input  [ngClass]="{ 'is-invalid': submitted && f.id_or_passportid.errors }" formControlName="id_or_passportid" name="id_or_passportid" type="text"
                    class="form-control" placeholder="ລະບຸບັດປະຈໍາຕົວ/ໜັງສືຜ່ານແດນ/ສໍາມະໂນຄົວ">
                  </div>
                  <div *ngIf="submitted && f.id_or_passportid.errors" class="invalid-feedback">
                    <div *ngIf="f.id_or_passportid.errors.required">Title is required</div>
                    </div>
                </div>

                <!--phone-->
                <div class="form-group">
                  <label class="col-sm-2 col-form-label">ຫມາຍເລກໂທລະສັບ</label>
                  <div class="col-sm-10">

                    <input [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" formControlName="phone" name="phone" type="test"
                    class="form-control" placeholder="020XXXXXXXX ">
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      <div *ngIf="f.phone.errors.required">Title is required</div>
                      </div>
                  </div>
                </div>
                <!--email-->
                <div class="form-group">
                  <label class="col-sm-2 col-form-label">Email ຂອງທ່ານ</label>
                  <div class="col-sm-10">

                    <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  type="email" class="form-control" name="email" formControlName="email" email="true" placeholder="ກະລຸນາໃສ່ຂໍ້ມູນ">
                  </div>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Title is required</div>
                    </div>
                </div>
                <button class="big-button" type="submit" id="submit-form"> ສົ່ງຂໍ້ມູນ </button>

              </div>
            </form>



          </div>
        </div>
    </div>
  </div>




