.position{
  padding: 30px;
  margin:auto;
  margin-top: 30px;
  display: block;
  width: 730px;
  background-color:#e6e6e6;

  flex-wrap: wrap;
  position: relative;
}

.title{
  font-family: NotoSansLao;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.position1{
  font-family: NotoSansLao;
}
.vaccine_dose{
  font-size: 20px;
  display: block;
  position: relative;
}
.date-control1{
  border-radius: 3px;
  margin-bottom: 30px;

  width: 100px;
  height: 50px;
  display: flex;
  box-sizing: border-box;
}

.form-control{
  border-radius: 5px;
  margin-bottom: 20px;
  width: 400px;
  height: 40px;
  text-align: center;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  font-family: NotoSansLao;
  padding-left: 5px;
  padding-right: 5px;
}
.form-group{
  margin: 0;
  width: 400px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
*{
  border-radius: 5px;
}
.col-sm-2{
  width: 100%;
  font-size: 18px;
}
.radio{
  margin-bottom: 20px;
  margin-top: 10px;

}


















