.position{
  padding: 30px;
  margin:auto;
  margin-top: 30px;
  display: block;
  width: 730px;
  background-color:#e6e6e6;

  flex-wrap: wrap;
  position: relative;
}

.title{
  font-family: NotoSansLao;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.position1{
  font-family: NotoSansLao;
}
.vaccine_dose{
  font-size: 20px;
  display: block;
  position: relative;
}
.date-control1{
  border-radius: 3px;
  margin-bottom: 30px;

  width: 100px;
  height: 50px;
  display: flex;
  box-sizing: border-box;
}

.form-control{
  border-radius: 5px;
  margin-bottom: 20px;
  width: 400px;
  height: 40px;
  text-align: center;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  font-family: NotoSansLao;
  padding-left: 5px;
  padding-right: 5px;
}
.form-group{
  margin: 0;
  width: 400px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
*{
  border-radius: 5px;
}
.col-sm-2{
  width: 100%;
  font-size: 18px;
}
.radio{
  margin-bottom: 20px;
  margin-top: 10px;

}







* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: 'OpenSans', sans-serif;
  font-size: 1rem;
  line-height: 2;
  display: flex;
          align-items: center;
          justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: var(--backgroundColor);
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 0.75rem;
    color:var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

button.big-button {
   padding: 1em 2em;
   border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
 transform: translate3d(0, 0.75em, -1em);
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
            transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);

      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

}


















