 <p>AIY 17</p>
 <p class="title">ການລົງທະບຽນລ່ວງໜ້າສຳລັບການຮັບວັກຊີນກັນພະຍາດໂຄວິດ-19</p>
 <div class="position">

 <form class="position1">
  <!--เลือกเขัม-->                          <div class="vancine_dose">
  <h2 class="sub-title">ເຂັມທີ</h2>
  <h3 class="sub-title">ອັນນີ້ແມ່ນເຂັມທໍາອິດ ຫຼື ເຂັມທີສອງຂອງທ່ານ?</h3>
  <div class="form-radio">
  <form>
  <div class="radio radio-inline">
 <label>
 <input type="radio" name="radio" checked="checked">
      <span>ເຂັມທີ (1)</span>
     </label>
  </div>
   <div class="radio radio-inline">
   <label>
  <input type="radio" name="radio">
    <span>ເຂັມທີ (2)</span>
   </label>
  </div>
    </form>
                  </div>
                  </div>


<!--ชะนิดวัดชี-->                                  <div class="vacin_type_selet_box">
<label class="col-sm-2 col-form-label">ປະເພດຂອງວັກຊີນ</label>
<div class="vaccine_type">
  <select name="select" class="form-control">
<option value="opt1">ເລືອກຊະນິດຂອງວັກຊີນ</option>
<option value="opt2">Type 2</option>
<option value="opt3">Type 3</option>
<option value="opt4">Type 4</option>
<option value="opt5">Type 5</option>
<option value="opt6">Type 6</option>
<option value="opt7">Type 7</option>
<option value="opt8">Type 8</option>
</select>
</div>
           </div>



<!--เลือกสะภานที-->

<div class="location_to_get">
<label class="col-sm-2 col-form-label">ສະຖານທີ່</label>
<div class="col-sm-10">
<select name="select" class="form-control">
<option value="opt1">ເລືອກສະຖານທີ່</option>
<option value="opt2">Type 2</option>
<option value="opt3">Type 3</option>
<option value="opt4">Type 4</option>
<option value="opt5">Type 5</option>
<option value="opt6">Type 6</option>
<option value="opt7">Type 7</option>
<option value="opt8">Type 8</option>
</select>
</div>
</div>



<!--เลือกวัน-->

<input data-type-datepicker="" data-format="d/m/Y" type="text" name="datetime" id="ff_2_datetime" class="ff-el-form-control ff-el-datepicker flatpickr-input active" data-name="datetime" readonly="readonly">




<!--เลือกเพด-->                  <div class="gender">
<h3 class="sub-title">ກະລຸນາເລືອກເພດ</h3>

<div class="form-radio">
<form>
<div class="radio radio-inline">
 <label>
     <input type="radio" name="radio" checked="checked">
     <i class="helper"></i>Male
 </label>
</div>
<div class="radio radio-inline">
 <label>
     <input type="radio" name="radio">
     <i class="helper"></i>Female
 </label>
</div>
<div class="radio radio-inline">
<label>
   <input type="radio" name="radio">
   <i class="helper"></i>ອື່ນໆ
</label>
</div>
   </form>
          </div>
          </div>



<!--ใส่ชื่นนามสะกุน-->              <div class="form-group row">
<label class="col-sm-2 col-form-label">ຊື່ (ພາສາລາວ)*</label>
<div class="col-sm-10">
<input type="text" class="form-control" placeholder="ກະລຸນາໃສ້ຊື່">
</div>
</div>
<div class="form-group row">
<label class="col-sm-2 col-form-label">ນາມສະກຸນ(ພາສາລາວ)*</label>
<div class="col-sm-10">
<input type="text" class="form-control" placeholder="ກະລຸນາໃສ່ນາມສະກຸນ">
</div>
</div>

<!--ใส่ชื่บ้าน-->  <div class="col-sm-12 col-xl-3 m-b-30">
<h4 class="sub-title">ຢູ່ບ້ານໃດ</h4>
<select name="select" class="form-control form-control-default">
<option value="opt1">ກະລຸນາເລືອກບ້ານ</option>
<option value="opt2">Type 2</option>
<option value="opt3">Type 3</option>
<option value="opt4">Type 4</option>
<option value="opt5">Type 5</option>
<option value="opt6">Type 6</option>
<option value="opt7">Type 7</option>
<option value="opt8">Type 8</option>
</select>
</div>

<!--ใส่แมือง-->  <div class="col-sm-12 col-xl-3 m-b-30">
<h4 class="sub-title">ຢູ່ເມືອງໃດ</h4>
<select name="select" class="form-control form-control-default">
<option value="opt1">ກະລຸນາເລືອກເມືອງ</option>
<option value="opt2">Type 2</option>
<option value="opt3">Type 3</option>
<option value="opt4">Type 4</option>
<option value="opt5">Type 5</option>
<option value="opt6">Type 6</option>
<option value="opt7">Type 7</option>
<option value="opt8">Type 8</option>
</select>
</div>
<!--ใส่ชื่แขวง-->  <div class="col-sm-12 col-xl-3 m-b-30">
<h4 class="sub-title">ຢູ່ແຂວງໃດ</h4>
<select name="select" class="form-control form-control-default">
<option value="opt1">ກະລຸນາເລືອກແຂວງ</option>
<option value="opt2">Type 2</option>
<option value="opt3">Type 3</option>
<option value="opt4">Type 4</option>
<option value="opt5">Type 5</option>
<option value="opt6">Type 6</option>
<option value="opt7">Type 7</option>
<option value="opt8">Type 8</option>
</select>
</div>



<!--islaos-->
<div class="col-sm-12 col-md-6 col-xl-4 m-b-30">
<h4 class="sub-title">ແມ່ນຄົນ ລາວ ຫຼື ບໍ່?</h4>
<div class="form-radio">
<form>
<div class="radio radio-inline">
<label>
<input type="radio" name="radio" checked="checked">
<i class="helper"></i>ແມ່ນຄົນລາວ
</label>
</div>
<div class="radio radio-inline">
<label>
<input type="radio" name="radio">
<i class="helper"></i>ບໍ່ແມ່ນຄົນລາວ
</label>
</div>
<!--passport-->  <div class="form-group row">
<label class="col-sm-2 col-form-label">ໄອດີ ຫຼື passport ຂອງທ່ານ</label>
<div class="col-sm-10">
<input type="text" class="form-control" placeholder="ກະລຸນາໃສ່ຂໍ້ມູນ">
</div>
</div>
<!--phone--><div class="form-group row">
<label class="col-sm-2 col-form-label">ຫມາຍເລກໂທລະສັບ</label>
<div class="col-sm-10">
<input type="text" class="form-control" placeholder="ກະລຸນາໃສ່ຂໍ້ມູນ">
</div>
</div>
<!--email--><div class="form-group row">
<label class="col-sm-2 col-form-label">Email ຂອງທ່ານ</label>
<div class="col-sm-10">
<input type="text" class="form-control" placeholder="ກະລຸນາໃສ່ຂໍ້ມູນ">
</div>
</div>

</form>
<button class ="submit" type="submit" id="submit-form" > ສົ່ງຂໍ້ມູນ </button>
</div>
