


<!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)"  >
  <input name="first" ngModel required #first="ngModel">
  <input name="last" ngModel>
  <input name="tel" ngModel>
  <button>Submit</button>
</form> -->

<!-- <p>First name value: {{ first.value }}</p>
<p>First name valid: {{ first.valid }}</p>
<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p> -->

<div class="page-wrapper p-t-45 p-b-50">
  <div class="wrapper wrapper--w790">
      <div class="card card-5 ">
        <div class="card-heading">
          <h2 class="title">Event Registration Form</h2>
          </div>
          <div class="card-body bg-light">
            <form class="position bg-light " method="POST" [formGroup]="registerForm"  (ngSubmit)="onSubmit()">

              <div class="position1">
                <!--เลือกเขัม-->
                <div class="vancine_dose">
                  <h3 class="sub-title">ເຂັມທີ</h3>
                  <h3 class="sub-title">ອັນນີ້ແມ່ນເຂັມທໍາອິດ ຫຼື ເຂັມທີສອງຂອງທ່ານ?</h3>






                    <input [ngClass]="{ 'is-invalid': submitted && f.vac.errors }" formControlName="vac" type="radio" value="1" name="dose" >
                  <label>ເຂັມທີ (1)</label>

                    <input [ngClass]="{ 'is-invalid': submitted && f.vac.errors }" formControlName="vac" type="radio" value="2" name="dose" >
                  <label>ເຂັມທີ (2)</label>
                  <div *ngIf="submitted && f.vac.errors" class="invalid-feedback">
                    <div *ngIf="f.vac.errors.required">Title is required</div>
                </div>

                </div>
                <!--เลือกเขัม-->
                <div class="vacin_type_selet_box">
                  <label class="col-sm-2 col-form-label">ປະເພດຂອງວັກຊີນ</label>
                  <div class="vaccine_type">
                    <select [ngClass]="{ 'is-invalid': submitted && f.id_vaccine.errors }" formControlName="id_vaccine" name="id_vaccine" class="form-control" >
                      <option value="" disabled selected hidden>ເລືອກປະເພດວັກຊີນ</option>
                      <option [value]="vaccines.id_vaccine_type" *ngFor="let vaccines of vaccinesList">{{ vaccines.name }}</option>

                    </select>
                    <div *ngIf="submitted && f.id_vaccine.errors" class="invalid-feedback">
                      <div *ngIf="f.id_vaccine.errors.required">Title is required</div>
                      </div>
                  </div>
                </div>
                <!--เลือกสะภานที-->

                <div class="location_to_get">
                  <label class="col-sm-2 col-form-label">ສະຖານທີ່</label>
                  <div class="col-sm-10">
                    <select [ngClass]="{ 'is-invalid': submitted && f.location_to_get.errors }" class="form-control" formControlName="location_to_get">
                      <option value="" disabled selected hidden>ເລືອກສະຖານທີ່</option>
                      <option [value]="location.id_location" *ngFor="let location of locationList">{{ location.name_la }}</option>
                        </select>
                        <div *ngIf="submitted && f.location_to_get.errors" class="invalid-feedback">
                          <div *ngIf="f.location_to_get.errors.required">Title is required</div>
                          </div>
                  </div>

                </div>
                <!--เลือกวัน-->

                <div class="date_to_get">
                  <h4 class="sub-title">Date</h4>

                  <input class="form-control" type="date" name="date_to_get" formControlName="date_to_get">
                </div>
                <!--เลือกเพด-->
                <div class="gender">
                  <h3 class="sub-title">ກະລຸນາເລືອກເພດ</h3>

                  <!-- <div class="form-radio">

                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="male" name="gender" formControlName="gender" checked="checked">
                        <i class="helper"></i>Male
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="female" name="gender" formControlName="gender">
                        <i class="helper"></i>Female
                      </label>
                    </div>
                    <div class="radio radio-inline">
                      <label>
                        <input type="radio" value="other" name="gender" formControlName="gender">
                        <i class="helper"></i>ອື່ນໆ
                      </label>
                    </div>

                  </div> -->















                </div>

                <!--ใส่ชื่นนามสะกุน-->

                <div class="form-group row">

                  <label class="col-sm-2 col-form-label">ຊື່ (ພາສາລາວ)*</label>

                  <input formControlName="name" name="name" type="text" class="form-control" placeholder="ຕາມທີ່ລະບຸໃນບັດປະຈໍາຕົວ/ໜັງສືຜ່ານແດນ/ສໍາມະໂນຄົວ">




                  <label class="col-sm-2 col-form-label">ນາມສະກຸນ(ພາສາລາວ)*</label>

                  <input formControlName="lastname" name="lastname" type="text" class="form-control" placeholder="ຕາມທີ່ລະບຸໃນບັດປະຈໍາຕົວ/ໜັງສືຜ່ານແດນ/ສໍາມະໂນຄົວນ">
                </div>

                <!--ใส่ชื่แขวง-->
                <div class="col-sm-12 col-xl-3 m-b-30">



                  <h4 class="sub-title">ຢູ່ແຂວງໃດ</h4>
                  <select name="province" class="form-control form-control-default" formControlName="province">
                    <option value="" disabled selected hidden>ເລືອກແຂວງ</option>
                    <option [value]="province.id_province" *ngFor="let province of provinceList">{{ province.name_lao }}</option>

                  </select>
                </div>

                <!--ใส่แมือง-->
                <div class="col-sm-12 col-xl-3 m-b-30">
                  <h4 class="sub-title">ຢູ່ເມືອງໃດ</h4>
                  <select name="district" class="form-control form-control-default" formControlName="district">
                    <option value="" disabled selected hidden>ເລືອກເມືອງ</option>
                    <option [value]="district.id_district" *ngFor="let district of districtList">{{ district.name_lao }}</option>

                  </select>
                </div>
                <!--ใส่ชื่บ้าน-->
                <!-- <div class="col-sm-12 col-xl-3 m-b-30">
                  <h4 class="sub-title">ຢູ່ບ້ານໃດ</h4>
                  <select formControlName="village" name="village" class="form-control form-control-default">
                      <option value="" disabled selected hidden>ເລືອກບ້ານ</option>
                    <option value="opt1">ກະລຸນາເລືອກບ້ານ</option>
                    <option value="opt2">Type 2</option>
                    <option value="opt3">Type 3</option>
                    <option value="opt4">Type 4</option>
                    <option value="opt5">Type 5</option>
                    <option value="opt6">Type 6</option>
                    <option value="opt7">Type 7</option>
                    <option value="opt8">Type 8</option>
                  </select>
                </div> -->


                <!--islaos-->
                <div class="col-sm-12 col-md-6 col-xl-4 m-b-30">
                  <h4 class="sub-title">ແມ່ນຄົນ ລາວ ຫຼື ບໍ່?</h4>
                  <div class="form-radio">


                    <label>
                      <input formControlName="islao" value="y" type="radio" name="islao" checked="checked">
                      <i class="helper"></i>ແມ່ນຄົນລາວ
                    </label>
                  </div>

                  <label>
                    <input formControlName="islao" type="radio" value="n" name="islao">
                    <i class="helper"></i>ບໍ່ແມ່ນຄົນລາວ
                  </label>
                </div>
                <!--passport-->
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">ໄອດີ ຫຼື passport ຂອງທ່ານ</label>
                  <div class="col-sm-10">
                    <input formControlName="id_or_passportid" name="id_or_passportid" type="text" class="form-control" placeholder="ຕາມທີ່ລະບຸໃນບັດປະຈໍາຕົວ/ໜັງສືຜ່ານແດນ/ສໍາມະໂນຄົວ">
                  </div>
                </div>
                <!--phone-->
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">ຫມາຍເລກໂທລະສັບ</label>
                  <div class="col-sm-10">
                    <input formControlName="phone" name="phone" type="test" class="form-control" placeholder="020XXXXXXXX ຫລື 030XXXXXXX">
                  </div>
                </div>
                <!--email-->
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Email ຂອງທ່ານ</label>
                  <div class="col-sm-10">

                    <input type="email" class="form-control" name="email" formControlName="email" email="true" placeholder="ກະລຸນາໃສ່ຂໍ້ມູນ">
                  </div>
                </div>
                <button class="big-button" type="submit" id="submit-form"> ສົ່ງຂໍ້ມູນ </button>

              </div>
            </form>



          </div>
        </div>
    </div>
  </div>




